name: "VProfile Actions"
on: workflow_dispatch
env:
    AWS_REGION: "us-east-1"
    ECR_REPOSITORY: "vprofileactionsapp"
    EKS_CLUSTER: "vprofile-eks"
    SONAR_PROJECT_KEY: "vprofile-actions33_vproapp24"
    SONAR_ORGANIZATION: "vprofile-actions33"
    SONAR_URL: "https://sonarcloud.io"

jobs:
    Testing:
        runs-on: ubuntu-latest
        steps:
        - name: Code Checkout
          uses: actions/checkout@v3
        
        - name: Maven Test
          run: mvn test

        - name: checkstyle
          run: mvn checkstyle:checkstyle

        - name: set up Java 
          uses: actions/setup-java@v3
          with:
              distribution: 'temurin'
              java-version: '11'

        - name: setup sonar scanner
          uses: warchant/setup-sonar-scanner@v7
          
        - name: sonar scan
          uses: SonarSource/sonarcloud-github-action@master
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

        - name: Check Sonar Quality Gate
          uses: sonarsource/sonarcloud-github-action@master
          env:
              SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              SONAR_HOST_URL: ${{ env.SONAR_URL }}

    BUILDANDPUBLISH:
        needs: Testing
        runs-on: ubuntu-latest
        steps:
        - name: Code Checkout
          uses: actions/checkout@v3
        - name: Build and Push Docker Image to ECR
          id: build-image
          uses: appleboy/docker-ecr-action@master
          with:
            access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
            secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            region: ${{ env.AWS_REGION }}
            repo: ${{ env.ECR_REPOSITORY }}
            tags: latest,${{ github.run_number }}
            daemon_off: false
            dockerfile: ./Dockerfile
            context: ./