name: "VProfile Actions"
on: workflow_dispatch
env:
    AWS_REGION: "us-east-1"
    ECR_REPOSITORY: "vprofileactionsapp"
    EKS_CLUSTER: "vprofile-eks"
    SONAR_PROJECT_KEY: "vprofile-actions33_vproapp24"
    SONAR_ORGANIZATION: "vprofile-actions33"
    SONAR_URL: "https://sonarcloud.io"
    AWS_ACCOUNT_ID: "227447828999"  # Replace with your AWS Account ID

jobs:
    Testing:
        runs-on: ubuntu-latest
        steps:
        - name: Code Checkout
          uses: actions/checkout@v3
        
        - name: Maven Test
          run: mvn test

        - name: checkstyle
          run: mvn checkstyle:checkstyle

        - name: set up Java 
          uses: actions/setup-java@v3
          with:
              distribution: 'temurin'
              java-version: '11'

        - name: setup sonar scanner
          uses: warchant/setup-sonar-scanner@v7
          
        - name: sonar scan
          uses: SonarSource/sonarcloud-github-action@master
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

        - name: Check Sonar Quality Gate
          uses: sonarsource/sonarcloud-github-action@master
          env:
              SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              SONAR_HOST_URL: ${{ env.SONAR_URL }}

    BUILDANDPUBLISH:
        needs: Testing
        runs-on: ubuntu-latest
        steps:
        - name: Code Checkout
          uses: actions/checkout@v3
        - name: Build and Push Docker Image to ECR
          id: build-image
          uses: appleboy/docker-ecr-action@master
          with:
            access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
            secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            region: ${{ env.AWS_REGION }}
            repo: ${{ env.ECR_REPOSITORY }}
            tags: latest,${{ github.run_number }}
            daemon_off: false
            dockerfile: ./Dockerfile
            context: ./

    DEPLOYTOEKS:
        needs: BUILDANDPUBLISH
        runs-on: ubuntu-latest
        steps:
        - name: Code Checkout
          uses: actions/checkout@v3

        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v2
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ env.AWS_REGION }}

        - name: Get KubeConfig for EKS Cluster
          run: |
            aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.EKS_CLUSTER }}

        - name: LOGIN to ECR
          run: |
            kubectl delete secret ecr-registry -n default --ignore-not-found=true
            kubectl create secret docker-registry ecr-registry \
              --docker-server=${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com \
              --docker-username=AWS \
              --docker-password=$(aws ecr get-login-password --region ${{ env.AWS_REGION }}) \
              -n default

        - name: Install AWS Load Balancer Controller
          run: |
            # Install AWS Load Balancer Controller
            curl -o iam_policy.json https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.4.4/docs/install/iam_policy.json
            aws iam create-policy --policy-name AWSLoadBalancerControllerIAMPolicy --policy-document file://iam_policy.json || true
            
            # Create service account
            eksctl create iamserviceaccount \
              --cluster=${{ env.EKS_CLUSTER }} \
              --namespace=kube-system \
              --name=aws-load-balancer-controller \
              --role-name AmazonEKSLoadBalancerControllerRole \
              --attach-policy-arn=arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:policy/AWSLoadBalancerControllerIAMPolicy \
              --approve || true
            
            # Install controller
            helm repo add eks https://aws.github.io/eks-charts
            helm repo update
            helm install aws-load-balancer-controller eks/aws-load-balancer-controller \
              -n kube-system \
              --set clusterName=${{ env.EKS_CLUSTER }} \
              --set serviceAccount.create=false \
              --set serviceAccount.name=aws-load-balancer-controller || true

        - name: Deploy Helm Chart to EKS
          run: |
            helm upgrade --install vproapp ./vprofilecharts/ \
              --set app.image=${{ secrets.REGISTRY }}/${{ env.ECR_REPOSITORY }} \
              --set app.tag=${{ github.run_number }} \
              --kubeconfig ~/.kube/config \
              --namespace default

        - name: Check Load Balancer Status
          run: |
            echo "Checking AWS Load Balancer Controller..."
            kubectl get deployment -n kube-system aws-load-balancer-controller || echo "AWS LB Controller not found"
            echo "Checking ingress resources..."
            kubectl get ingress -A
            echo "Checking services..."
            kubectl get svc -A | grep LoadBalancer